{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
  {{ $summary = $item.Summary }}
{{ else }}
  {{ $summary = $item.Content }}
{{ end }}

<div class="card-simple" itemscope itemtype="http://schema.org/{{$microdata_type}}">

  {{ if eq $item.Type "talk" }}
  <div class="article-metadata">
    {{ if $item.Params.authors }}
    <div itemprop="author">
      {{ partial "page_metadata_authors" $item }}
    </div>
    {{ end }}
    <span itemprop="startDate">
      {{ $date := $item.Date }}
      {{ (time $date).Format site.Params.date_format }}
      {{ if not $item.Params.all_day }}
        {{ (time $date).Format (site.Params.time_format | default "3:04 PM") }}
        {{ with $item.Params.date_end }}
        &mdash; {{ (time .).Format (site.Params.time_format | default "3:04 PM") }}
        {{ end }}
      {{ end }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span itemprop="location">{{ . }}</span>
    {{ end }}
  </div>
  {{ else }}
    {{ if and (eq $item.Type "publication") (eq $item.Title "Remote Work and City Structure") }}
    <div class="article-metadata">
      <div class="pub-publication">
        Forthcoming, <span style="font-weight: 900 !important; font-style: italic; -webkit-text-stroke: 0.2px currentColor; text-shadow: 0.2px 0 currentColor;">American Economic Review</span>
      </div>
      {{ if $item.Params.authors }}
      <div itemprop="author">
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ end }}
      {{ if $item.Params.publication_short }}
      <div class="pub-publication">
        {{ $item.Params.publication_short | markdownify }}
      </div>
      {{ end }}
      <span class="article-date">
        <time>{{ $item.Date.Format (site.Params.publications.date_format | default "January, 2006") }}</time>
      </span>
    </div>
    {{ else if and (eq $item.Type "publication") (eq $item.Title "The Role of Establishment Size in the City-Size Earnings Premium in Spain") }}
    <div class="article-metadata">
      {{ if $item.Params.publication }}
      <span class="pub-publication">
        <span style="font-weight: 900 !important; font-style: italic; -webkit-text-stroke: 0.2px currentColor; text-shadow: 0.2px 0 currentColor;">{{ $item.Params.publication | markdownify }}</span>
      </span>
      <span class="middot-divider"></span>
      {{ end }}
      <span class="article-date">
        <time>{{ $item.Date.Format (site.Params.publications.date_format | default "January, 2006") }}</time>
      </span>
      {{ if $item.Params.authors }}
      <div itemprop="author">
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ end }}
    </div>
    {{ else if and (eq $item.Type "publication") (eq $item.Title "Measuring Information Frictions in Migration Decisions: A Revealed-Preference Approach") }}
    <div class="article-metadata">
      {{ if $item.Params.publication }}
      <div class="pub-publication">
        R&R, <span style="font-weight: 900 !important; font-style: italic; -webkit-text-stroke: 0.2px currentColor; text-shadow: 0.2px 0 currentColor;">AEJ: Microeconomics</span>
      </div>
      {{ end }}
      {{ if $item.Params.authors }}
      <div itemprop="author">
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ end }}
      <span class="article-date">
        <time>{{ $item.Date.Format (site.Params.publications.date_format | default "January, 2006") }}</time>
      </span>
    </div>
    {{ else if and (eq $item.Type "publication") (eq $item.Title "Migration with Costly Information") }}
    <div class="article-metadata">
      {{ if $item.Params.publication_short }}
      <div class="pub-publication">
        {{ $item.Params.publication_short | markdownify }}
      </div>
      {{ end }}
      {{ if $item.Params.authors }}
      <div itemprop="author">
        {{ partial "page_metadata_authors" $item }}
      </div>
      {{ end }}
      <span class="article-date">
        <time>{{ $item.Date.Format (site.Params.publications.date_format | default "January, 2006") }}</time>
      </span>
    </div>
    {{ else }}
    {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
    {{ end }}
  {{ end }}

  {{ $resource := ($item.Resources.ByType "image").GetMatch "*featured*" }}
  {{ $anchor := $item.Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
  {{ $image := .Fill (printf "918x517 q90 %s" $anchor) }}
  <a href="{{ $item.RelPermalink }}">
      <img src="{{ $image.RelPermalink }}" class="article-banner" itemprop="image" alt="">
  </a>
  {{end}}

  {{ $blue_title := false }}
  {{ if and (eq $item.Type "publication") $item.Params.publication_types }}
    {{ $pub_type := index $item.Params.publication_types 0 }}
    {{ if or (in (slice "3" "4") $pub_type) (eq $item.Title "Remote Work and City Structure") (eq $item.Title "The Role of Establishment Size in the City-Size Earnings Premium in Spain") }}
      {{ $blue_title = true }}
    {{ end }}
  {{ end }}

  {{ $title_link := $item.RelPermalink }}
  {{ if eq $item.Type "publication" }}
    {{ $resource := $item.Resources.GetMatch (printf "%s.pdf" $item.File.ContentBaseName) }}
    {{ with $resource }}
      {{ $title_link = .RelPermalink }}
    {{ else }}
      {{ with $item.Params.url_pdf }}
        {{ $title_link = . | relURL }}
      {{ end }}
    {{ end }}
  {{ end }}

  <h3 class="article-title mb-1 mt-3" itemprop="name">
    {{ if $item.Params.no_link }}
    <span{{ if $blue_title }} style="color: #041e42;"{{ end }}>{{ $item.Title }}</span>
    {{ else }}
    <a href="{{ $title_link }}" itemprop="url"{{ if $blue_title }} style="color: #041e42;"{{ end }}>{{ $item.Title }}</a>
    {{ end }}
  </h3>

  {{ with $summary }}
  <div class="article-style" itemprop="articleBody">
    {{ . }}
  </div>
  {{ end }}

  {{ if $show_buttons }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1 "hide_pdf" true) }}
  </div>
  {{ end }}

</div>
